<div class="py-16" id="about">
  <div class="xl:container m-auto px-6 text-gray-600 md:px-12">
    <div
      class="lg:bg-gray-100 lg:p-16 rounded-[4rem] space-y-6 md:flex md:gap-6 justify-center md:space-y-0 lg:items-center shadow-lg"
    >
      <div class="md:5/12 lg:w-1/2">
        <img src="/assets/ajiee.jpg" class="rounded-3xl" alt="ajie" />
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2 class="text-3xl font-bold text-gray-900 md:text-4xl">
          I'm M. Aji Perdana
        </h2>
        <p class="my-8 text-gray-600 text-justify">
          I thrive in teamwork, possess leadership skills, and love learning
          about technology. I'm particularly drawn to Fullstack Web Development,
          and I'm excited about creating dynamic web applications. <br />I
          specialize in front-end web development using React.js and Next.js. On
          the backend, I use the Nest.js framework with a MongoDB database. I
          also integrate with IoT devices using RabbitMQ as a message broker.
        </p>

        <a href="https://github.com/ajiaja38" target="_blank">
          <p-button
            icon="pi pi-github"
            label="Github"
            severity="success"
          ></p-button>
        </a>
      </div>
    </div>
  </div>
</div>
