<nav
  class="fixed w-full border px-6 py-4 flex justify-between items-center bg-white/60 backdrop-blur-sm z-[9999999]"
>
  <div class="flex gap-2 justify-center items-center">
    <img src="favicon.ico" class="h-8" alt="Logo Aji" />
    <h1 class="font-bold text-xl">M. Aji Perdana</h1>
  </div>
  <ul class="flex gap-3">
    <li class="cursor-pointer">
      <a routerLink="/home" routerLinkActive="text-purple-700">Home</a>
    </li>
    <li class="cursor-pointer">
      <a routerLink="/projects" routerLinkActive="text-purple-700">Projects</a>
    </li>
    <li class="cursor-pointer">
      <a routerLink="/contact" routerLinkActive="text-purple-700">Contact</a>
    </li>
  </ul>
</nav>
